.title{
    color: rgb(62, 62, 62);
    text-align: center;
}


.sign{
 
    width: 320px;
    height: 400px;
    margin: 10%;
    position: relative;
    left: 30%;
    border-radius: 20%;
}

.inp{
    
    background: rgb(77, 77, 77);
    width: 312px;
    margin-top: 10%;
    height: 30px;
    color: white;
    text-align: center;
}
 

.inp::placeholder{
    color: white;
    font-size: 15px;
    text-align: center;
}

button{
    background: rgb(45, 45, 45);
    color: white;
    width: 319px;
    cursor: grab;
    height: 90px;
    margin-top: 35px;
    font-size: 20px;
    border-radius: 20%;

}

button:hover{
    background: rgb(77, 77, 77);
}